@media (max-width: 600px) {
    #cover {
        width: 100%;
        height: auto;
    }
}

html{
    box-sizing: border-box;
    background-color: white;
    min-height: 100%;
}


#cover{
    margin: 0 auto;
    border: 4px solid rgb(190, 195, 199);
    border-radius: 50px;
    background-color: black;
    width: 320px;
    height: 644px;
    box-shadow: 0 0 100px black;
}

#display_calc {
    height: 80px;
    width: 310px;
    display: flex;
    justify-content: flex-end;  
    align-items: center;  
}

#result {
    color: white;
    font-size: 40px;
    margin-right: 20px; 
    text-align: right;   
}

#upper{
    height: 100px;
    width: 310px;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

#upper p{
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 15px;
    padding-left: 40px;
    margin-top: 10px;
}

#upper #giga{
    padding: 10px;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: -10px;
}

#upper #wifi{
    padding: 10px;
    margin-top: 10px;
    margin-right: -10px;
}

#upper #battery{
    padding: 10px;
    margin-top: 10px;
}

#display_calc h3{
    color: white;
    font-size: 40px;
    margin-left: 250px;
    margin-top: -20px;
}


table{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 50%;
    border-style: none;
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.btn_special, #percentage{
    background-color: rgba(199, 196, 196, 0.906);
}

.btn_special:hover, #percentage:hover {
    background-color: rgb(233, 228, 228);
}

.btn_operator, #equal {
    background-color: rgb(235, 155, 8);
}

.btn_operator:hover, #equal:hover{
    background-color: rgb(242, 169, 35);
}

.btn_number, .minus {
    background-color: grey;
}

.btn_number:hover {
    background-color: rgb(181, 175, 175);
}

#bar {
    display: block;
    background-color: white;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: 40px;
    border-style: none;
    border-radius: 160px;
}
